.App {
  width: 100%;
  display: flex;
  align-content: center;
  background: #000000;
  box-sizing: border-box;
}

.textarea-container {
  box-sizing: border-box;
  background: #ffffff;
  display: inline-block;
  width: 50%;
  padding: 10px;
  margin: 2px;
  border: 1px solid black;
  height: auto;
}

#editor {
  box-sizing: border-box;
  width: 100%;
  height: 95%;
}

.preview-container {
  box-sizing: border-box;
  background: #ffffff;
  display: inline-block;
  width: 50%;
  padding: 10px;
  margin: 2px;
  border: 1px solid black;
  height: auto;
}

@media screen and (max-width: 800px) {
  .App {
    display: block;
  }

  #editor {
    height: 95%;
  }

  .textarea-container {
    display: block;
    width: 100%;
    height: 50vh;
    margin: 0;
    margin-bottom: 2px;
    border: none;
  }

  .preview-container {
    display: block;
    width: 100%;
    height: auto;
    max-height: 50vh;
    overflow-y: scroll;
    margin: 0;
    margin-top: 2px;
    padding: 0 1rem;
    border: none;
  }

  #editor-heading,
  #preview-heading {
    font-size: 0.9rem;
    padding: 2px;
    margin: 0;
  }
}
